- content_for :breadcrumb do
  %li
    =link_to "Home", projects_path 
    %span.divider /
  %li.active Edit project



= simple_form_for @project, :html => { :class => 'form-horizontal' }  do |f|

  %legend= @project.name
  
  = f.input :name, :input_html => { :class => "span6" }, :hint => "Project name"
                
  = f.input :active?, :as => :boolean 

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger"
