- content_for :breadcrumb do 
  %li.active Home


%h1 Listing Projects

- if @projects.empty?
  %h2 Projects are empty!

%table#projects{ class: "table table-bordered table-striped" }
  %thead
    %tr
      %th Name
      %th Description
      %th Active?
      %th Actions

  %tbody   
    - @projects.each do |p|
      %tr{"data-id" => p.id}
        %td= p.name
        %td= p.description
        %td= p.active?
        %td= link_to "Edit", edit_project_path(p)
        %td= link_to "Delete", project_path(p), :method => :delete, :class => "delete", :confirm => "Are you sure ?"
